body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 70vh;
    resize: both;
}

.container-30 {
    height: 30vh;
}

.panel {
    padding: 10px;
    overflow: auto;
    min-width: 10px;
    white-space: pre-wrap;
    font-family: monospace;
}

.flex {
    flex: 1;
    border: 1px solid #ccc;
}

.text-center {
    text-align: center;
}

.resize-box {
    resize: both;
    overflow: auto;
    border: 1px solid black;
    display: inline-block;
    min-width: 20vw;
    min-height: 20vh;
}

.row {
    border: 1px solid black;
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}

.content {
    white-space: pre-wrap;
    font-family: monospace;
}

.d-none {
    display: none;
}