body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 70vh;
}

.container-30 {
    height: 30vh;
}

.panel {
    padding: 10px;
    overflow: auto;
    min-width: 10px;
    white-space: pre-wrap;
    font-family: monospace;
}

.flex {
    flex: 1;
    border: 1px solid #ccc;
}

.text-center {
    text-align: center;
}